@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,900;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

@mixin mediaMobile {
    @media (max-width: 600px) { @content }
}

body{
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#particles-js{
	background: url(../Img/fondito.png);
	background-position:center;
	background-attachment: contain;
	background-size: cover;
	width: 100%;
}

form{
	display: flex;
    justify-content: center;
	position: absolute;
	margin-top: 35px;
	width: 100%;

	#formulario{
        width: 25%;
        display: flex;
        margin: 30px 0;
        flex-direction: column;
		color: ghostwhite;

		@include mediaMobile{
            width: 75%;
        };

		input{
			margin: 15px 0;
			background: none;
			border-style: none none solid none;
            border-width: 1px;
            border-color: aliceblue;
            color: ghostwhite;
			padding: 5px;
		}

		#checkbox{
			margin-right: 10px;
		}

		#comentario{
            padding: 5px;
			margin: 15px 0;
        }

		#submit{
            background-color: rgb(17, 173, 121);
            border: none;
            text-transform: uppercase;
			padding: 10px;
            box-shadow: black 1px 1px 10px;
            color: ghostwhite;
        }
	}
}